.nav {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow: hidden;
    
}
.nav-tabs {
    width: 50%;
    position: fixed;
    float: left !important;
}
.nav li {
    flex: auto;
}

.rounded-circle {
    vertical-align: middle;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

#myTabContent.tab-content {
    margin-top: 100px;
}

.tab-active {
    background-color: #ffffff;
    color: #336699;
}

.nav-pills li {
    margin-left: 1px;
    /* use whatever you want */
}

.nav-pills a {
    /* use font-family and font-size to change font and size of it. */
} 
