.nav {
    height: 100%;
    display: block;
    flex-direction: row;
    justify-content: space-between;
    overflow: hidden;
    
}
.nav-tabs {
    width: 100%;
    position:fixed;
}
.nav li {
    flex: auto;
}

